main {
    padding: 20px;
}

.container {
    width: 90%;
    margin: 20px auto;
    display: flex;
    align-items: flex-start;
}

.vertical-line {
    height: 550px;
    margin-right: 20px;
}

.vertical-line.light{
    border-left: 2px solid #25412B;
}

.vertical-line.dark{
    border-left: 2px solid #a5d16b;
}
.section-content {
    flex: 1;
}

h4 {
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
}

h4.light {
    color: #25412B;
}

h4.dark {
    color: #fff;
}

h6 {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

h6.light {
    color: #607D3B;
}

h6.dark {
    color: #a5d16b
}

hr.divider {
    width: 60%;
    margin-left: 0;
    height: 2px;
    border: none;
}

hr.divider.light{
    background-color: #25412B;
}

hr.divider.dark{
    background-color: #a5d16b;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 2rem 0 0 1rem;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.image-container:hover {
    transform: scale(1.05);
}

.image-with-caption {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.image-with-caption:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.grayscale {
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.grayscale:hover {
    filter: grayscale(0%);
}

.caption {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    color: white;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: font-size 0.3s ease-in-out;
}

.image-container:hover .caption {
    font-size: 1.75rem;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .vertical-line {
        display: none;
    }

    h4 {
        font-size: 1.5rem;
    }

    h6 {
        font-size: 0.8rem;
    }

    .menu {
        flex-wrap: wrap;
    }

    .image-container {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    h4 {
        font-size: 1.2rem;
    }

    h6 {
        font-size: 0.7rem;
    }

    .image-container {
        width: 100%;
    }

}