.row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
}

.col {
    flex: 1;
    margin: 0 1rem;
}

.grayscale {
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.grayscale:hover {
    filter: grayscale(0%);
}